In [2]:
!pip install beautifulsoup4
!pip install geocoder

Requirement already satisfied: beautifulsoup4 in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)
Requirement already satisfied: geocoder in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: requests in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (2.24.0)
Requirement already satisfied: click in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (7.1.2)
Requirement already satisfied: six in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (1.15.0)
Requirement already satisfied: ratelim in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: future in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2020.11.8)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from requests->geocoder) (1.25.11)
Requirement already satisfied: decorator in c:\users\tm30231\appdata\local\continuum\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.2)

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Segmenting and Clustering Neighborhoods in Toronto

## Instructions

### For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

Start by creating a new Notebook for this assignment.
Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe

In [64]:
website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'xml')
table = soup.find('table',{'class':'wikitable sortable'})

In [66]:
table_rows = table.find_all('tr')
data = []
for row in table_rows:
    td=[]
    for t in row.find_all('td'):
        td.append(t.text.strip())
    data.append(td)
df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighborhood'])
df

,PostalCode,Borough,Neighborhood
0,None,None,None
1,M1A,Not assigned,Not assigned
2,M2A,Not assigned,Not assigned
3,M3A,North York,Parkwoods
4,M4A,North York,Victoria Village
...,...,...,...
176,M5Z,Not assigned,Not assigned
177,M6Z,Not assigned,Not assigned
178,M7Z,Not assigned,Not assigned
179,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
180,M9Z,Not assigned,Not assigned

In [63]:
df = df[~df['Borough'].isnull()]  # to filter out bad rows
df.drop(df[df.Borough == 'Not assigned'].index, inplace=True)
df.reset_index(drop=True, inplace=True)
df = df.groupby(['PostalCode','Borough'])['Neighborhood'].apply(lambda x: ','.join(x)).reset_index()
df
geo=pd.read_csv("data/Geospatial_Coordinates.csv")
geo
df=df.join(geo, lsuffix='PostalCode', rsuffix='Postal Code')
df.drop('Postal Code',axis='columns', inplace=True)
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

In [6]:
df.shape

(103, 3)